<mat-toolbar color="primary" role="heading">
  <button mat-icon-button aria-label="Back icon" (click)="return()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Detalle de agencia</span>
</mat-toolbar>

<form [formGroup]="detailForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <mat-form-field>
    <mat-label>Agencia</mat-label>
    <input
      matInput
      formControlName="agencia"
      placeholder="Nombre de la agencia"
      required
    />
    <mat-error>Este campo es requerido</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Distrito</mat-label>
    <input matInput formControlName="distrito" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Provincia</mat-label>
    <input matInput formControlName="provincia" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Departamento</mat-label>
    <input matInput formControlName="departamento" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dirección</mat-label>
    <input matInput formControlName="direccion" />
  </mat-form-field>

  <div style="text-align: center; padding: 10px">
    Latitud: {{ markerPositions[0].lat }}
  </div>
  <div style="text-align: center; padding: 10px">
    Longitud: {{ markerPositions[0].lng }}
  </div>

  <div style="display: flex; justify-content: center; padding: 20px 0">
    <google-map
      height="400px"
      width="750px"
      [center]="center"
      [zoom]="zoom"
      (mapClick)="addMarker($event)"
    >
      <map-marker
        *ngFor="let markerPosition of markerPositions"
        [position]="markerPosition"
        [options]="markerOptions"
      ></map-marker>
    </google-map>
  </div>

  <div class="btn-container">
    <button mat-raised-button color="primary" type="submit">
      {{ agencyId === "new" ? "Guardar" : "Actualizar" }}
    </button>

    <button
      *ngIf="agencyId !== 'new'"
      mat-raised-button
      color="warn"
      type="button"
      style="margin-left: 50px"
      (click)="remove()"
    >
      Borrar
    </button>
  </div>
</form>
